![alt text](iSalud_Covecare.png 'Logo')

Fuente: 
- https://www.kaggle.com/scratchpad/notebook4031fa4176/edit
- https://www.kaggle.com/srikarkashyap/analyzing-healthcare-data-tutorial

# Analizando datos de programas de salud (EDA)

## Introducción

NTR Vaidya Seva (o Arogya Seva) es el programa de salud insignia del gobierno de Anhra Pradesh (India), con el cual las personas de bajos ingresos de ese estado pueden obtener salud pública de forma gratuita para muchas enfermedades y dolencias importantes

## A meter código!

Comenzamos importando las librerias necesarias:
* *Pandas* para cargar datos y explorar los datos
* *Matplotlib, Seaborn* para su visualización.

In [1]:
# Importamos las librerias 
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

Vamos a leer el archivo de datos usando la función *read_csv* de Pandas. *read_csv* puede leer de manera sencilla archivos de valores separados por comas (csv).

No existen restricciones para nombrar las variables. *df*, *data* son los términos genéricos más comunes. Arrancamos con *data*.

In [2]:
# Leemos el dataframe
data = pd.read_csv('data/ntrarogyaseva.csv')

Explotamos los datos con la función *head()* que por defecto, muestra los primeros 5 datos.

In [10]:
data.sample(10)

,,AGE,SEX,CASTE_NAME,CATEGORY_CODE,CATEGORY_NAME,SURGERY_CODE,SURGERY,VILLAGE,MANDAL_NAME,...,CLAIM_AMOUNT,HOSP_NAME,HOSP_TYPE,HOSP_LOCATION,HOSP_DISTRICT,SURGERY_DATE,DISCHARGE_DATE,Mortality Y / N,MORTALITY_DATE,SRC_REGISTRATION
397376,397377,29,Male,BC,S15,POLY TRAUMA,S15.1.1,Surgical Correction Of Longbone Fracture,Ghantasala,Ghantasala,...,33408,ANDHRA HOSPITALS BHAVANIPURAM PVT LTD,C,VIJAYAWADA,Krishna,25/07/2017 00:00:00,02/08/2017 00:00:00,NO,NaN,D
90067,90068,34,Female,OC,M6,NEPHROLOGY,M6.5,Maintenance Hemodialysis For Crf,Srikantapuram,Anantapur,...,10000,Dr. YSR Memorial Hospitals,C,ANANTAPUR,Anantapur,08/11/2016 00:00:00,NaN,YES,16/12/2016 00:00:00,D
394639,394640,44,Male,ST,S5,ORTHOPEDIC SURGERY AND PROCEDURES,S5.4.2,Diagnostic Arthroscopy,Sunkarapalem,Tallarevu,...,28451,SURYA GLOBAL MULTI SPECIALITY HOSPITALS AND CA...,C,KAKINADA,East Godavari,27/07/2017 00:00:00,29/07/2017 00:00:00,NO,NaN,D
365672,365673,46,Female,BC,S10,NEUROSURGERY,S10.2.9,Spinal Fusion Procedure,Krishnapuram,V.Kota,...,50000,Sree Ramadevi Multy Speciality Hospital,C,TIRUPATHI,Chittoor,02/07/2017 00:00:00,14/07/2017 00:00:00,NO,NaN,D
443707,443708,48,Male,BC,M6,NEPHROLOGY,M6.5,Maintenance Hemodialysis For Crf,Chakalakonda,Vinjamur,...,4132,ABHIRAM INSTITUTE OF MEDICAL SCIENCES,C,NELLORE,Nellore,13/09/2017 00:00:00,NaN,YES,23/09/2017 00:00:00,D
228469,228470,51,Female,ST,S12,MEDICAL ONCOLOGY,S12.2.1,Chemotherapy for Cervical Cancer with Weekly C...,Cheemalapadu,A Konduru,...,2000,HCG Curie City Cancer Centre Health Care Globa...,C,VIJAYAWADA,Krishna,09/03/2017 00:00:00,10/03/2017 00:00:00,NO,NaN,D
322569,322570,0,Female(Child),SC,M4,PEDIATRICS,M4.1.4,Medicalmanagement of Preterm baby of 35 To 36 ...,Thukivakam,Renigunta,...,23000,S.V.R.R.Hospital,G,TIRUPATHI,Chittoor,25/05/2017 00:00:00,05/06/2017 00:00:00,NO,NaN,D
402937,402938,56,Male,BC,S7,CARDIAC AND CARDIOTHORACIC SURGERY,S7.2.1.1,Coronary Bypass Surgery,Ward-8,Gudivada,...,115846,Nri Academyof Sciences,C,GUNTUR,Guntur,05/08/2017 00:00:00,11/08/2017 00:00:00,NO,NaN,D
129525,129526,48,Female,BC,M6,NEPHROLOGY,M6.5,Maintenance Hemodialysis For Crf,Ravulapalem,Ravulapalem,...,12500,"Government General Hospital,Kakinada",G,KAKINADA,East Godavari,13/12/2016 00:00:00,20/01/2017 00:00:00,NO,NaN,CMO
269050,269051,16,Male,BC,S2,ENT SURGERY,S2.1.4.1,Myringoplasty with ossiculoplasty (19.3),Mynampadu,Santhanuthlapadu,...,17340,Nalluri Nursing Home,C,Ongole,Prakasam,14/04/2017 00:00:00,15/04/2017 00:00:00,NO,NaN,D

Ahora vamos a mostrar algunas estadisticas simples de las columnas numéricas del dataset. Utilizamos la función *describe* de los datos para obtenerlas..

In [12]:
# Estadísticas descriptivas
# data.describe(include='all') # Incluye todas las variables
data.describe(include='all')

,,AGE,SEX,CASTE_NAME,CATEGORY_CODE,CATEGORY_NAME,SURGERY_CODE,SURGERY,VILLAGE,MANDAL_NAME,...,CLAIM_AMOUNT,HOSP_NAME,HOSP_TYPE,HOSP_LOCATION,HOSP_DISTRICT,SURGERY_DATE,DISCHARGE_DATE,Mortality Y / N,MORTALITY_DATE,SRC_REGISTRATION
count,479688.000000,479688.000000,479688,479688,479688,479688,479688,479688,479688,479688,...,479688.000000,479688,479688,479688,479688,479688,475128,479688,10122,479688
unique,NaN,NaN,6,6,29,29,925,923,11801,711,...,NaN,467,2,61,20,937,918,2,740,4
top,NaN,NaN,Male,BC,M6,NEPHROLOGY,M6.5,Maintenance Hemodialysis For Crf,Ward-1,Visakhapatnam,...,NaN,Sri Venkateswara Institute Of Medical Sciences,C,VISAKHAPATNAM,Guntur,13/02/2017 00:00:00,29/05/2017 00:00:00,NO,04/01/2017 00:00:00,D
freq,NaN,NaN,260718,246164,74947,74947,65378,65378,3277,9264,...,NaN,21854,369346,50715,60988,1602,1764,469566,40,437948
mean,239844.500000,44.912264,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27652.205861,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,138474.142301,18.961084,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,25951.706037,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,119922.750000,34.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12500.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,239844.500000,47.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,23200.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,359766.250000,59.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,30600.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,479688.000000,107.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,520000.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Ahora analizamos los nombres de las columnas

In [13]:
# Muestra los nombres de las columnas en el dataset _data_
data.columns

Index(['   ', 'AGE', 'SEX', 'CASTE_NAME', 'CATEGORY_CODE', 'CATEGORY_NAME',
       'SURGERY_CODE', 'SURGERY', 'VILLAGE', 'MANDAL_NAME', 'DISTRICT_NAME',
       'PREAUTH_DATE', 'PREAUTH_AMT', 'CLAIM_DATE', 'CLAIM_AMOUNT',
       'HOSP_NAME', 'HOSP_TYPE', 'HOSP_LOCATION', 'HOSP_DISTRICT',
       'SURGERY_DATE', 'DISCHARGE_DATE', 'Mortality Y / N', 'MORTALITY_DATE',
       'SRC_REGISTRATION'],
      dtype='object')

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479688 entries, 0 to 479687
Data columns (total 24 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0                     479688 non-null  int64
 1   AGE               479688 non-null  int64
 2   SEX               479688 non-null  object
 3   CASTE_NAME        479688 non-null  object
 4   CATEGORY_CODE     479688 non-null  object
 5   CATEGORY_NAME     479688 non-null  object
 6   SURGERY_CODE      479688 non-null  object
 7   SURGERY           479688 non-null  object
 8   VILLAGE           479688 non-null  object
 9   MANDAL_NAME       479688 non-null  object
 10  DISTRICT_NAME     479688 non-null  object
 11  PREAUTH_DATE      479688 non-null  object
 12  PREAUTH_AMT       479688 non-null  int64
 13  CLAIM_DATE        479688 non-null  object
 14  CLAIM_AMOUNT      479688 non-null  int64
 15  HOSP_NAME         479688 non-null  object
 16  HOSP_TYPE         479688 non-null  object
 17  HOSP_LOCATION     479688 non-null  object
 18  HOSP_DISTRICT     479688 non-null  object
 19  SURGERY_DATE      479688 non-null  object
 20  DISCHARGE_DATE    475128 non-null  object
 21  Mortality Y / N   479688 non-null  object
 22  MORTALITY_DATE    10122 non-null   object
 23  SRC_REGISTRATION  479688 non-null  object
dtypes: int64(4), object(20)
memory usage: 87.8+ MB

### Tamaño del dataframe

In [ ]:
data['HOSP_DISTRICT'].value_counts()

In [ ]:
data.shape

### Creación de variables
Es muy útil trabajar con las variables existentes para generar nueva información.

In [ ]:
data['CATEGORY'] = data['CATEGORY_CODE'] + ' - ' + data['CATEGORY_NAME']
data['CATEGORY'].reset_index()

In [ ]:
data['DIFF'] = data['CLAIM_AMOUNT'] - data['PREAUTH_AMT']

In [ ]:
data['DIFF'].reset_index()

### Corrección de formatos

Las columnas PREAUTH_DATE, CLAIM_DATE, SURGERY_DATE, DISCHARGE_DATE y MORTALITY_DATE son cargadas como si fueran del tipo Object, cuando en realidad deberían ser levantadas como fechas

In [ ]:
# data = pd.read_csv("input/ntrarogyaseva.csv")
from datetime import datetime

In [ ]:
# Convertimos el campo DISCHARGE_DATE a fecha. Tira un error
data['DISCHARGE_DATE'] = pd.to_datetime(data['DISCHARGE_DATE'])

In [ ]:
# Buscamos el error:
# Alternativa I:
data.loc[data['DISCHARGE_DATE'].str.contains('116', na=False)]

In [ ]:
# Alternativa II
data.loc[data['DISCHARGE_DATE']=='30/04/0116 00:00:00']

In [ ]:
# Reemplazamos los datos erroneos:
# Alternativa I
mappings = {'30/04/0116 00:00:00':'30/04/2016 00:00:00'}
data['DISCHARGE_DATE'] = data['DISCHARGE_DATE'].replace(mappings)

# Alternativa II
data.loc[data['DISCHARGE_DATE']=='30/04/0116 00:00:00', 'DISCHARGE_DATE'] = '30/04/2016 00:00:00'

In [ ]:
# Convertimos el campo DISCHARGE_DATE a fecha nuevamente
data['DISCHARGE_DATE'] = pd.to_datetime(data['DISCHARGE_DATE'])

In [ ]:
data['PREAUTH_DATE'] = pd.to_datetime(data['PREAUTH_DATE'])
data['CLAIM_DATE'] = pd.to_datetime(data['CLAIM_DATE'])
data['MORTALITY_DATE'] = pd.to_datetime(data['MORTALITY_DATE'])
data['SURGERY_DATE'] = pd.to_datetime(data['SURGERY_DATE'])

In [ ]:
# Borramos la columna que tiene el índice del CSV 
data = data.drop('   ', axis = 1)

In [ ]:
data.to_csv('data/ntrarogyaseva_cut.csv', index = False)

### NAN Values

In [ ]:
data.isnull().sum()

In [ ]:
# DISCHARGE_DATE tiene NAs porque pueden referirse a los pacientes que siguen internados o no tienen el alta
data.loc[data['DISCHARGE_DATE'].isna()]

In [ ]:
# Podemos chequear si hay pacientes con DISCHARGE_DATE NA y que hallan fallecido
data.loc[(data['Mortality Y / N']=='YES') & (data['DISCHARGE_DATE'].isna())]

In [ ]:
# Los MORTALITY_DATE en blanco, es porque no falleció o por error en la base
data.loc[(data['Mortality Y / N']=='NO') & (data['MORTALITY_DATE'].isna())]

## Analizando un poco mas profundo...

### Cual es la distribución de la variable SEX?

*value_counts()* es una función de Pandas que puede ser usada para obtener la distribución de los datos, en la columna que se especifique.

In [ ]:
# Cantidad de cada valor en la columna SEX
data['SEX'].value_counts()

*CUIDADO*: Existe valores que están ingresados de forma diferente, que refieren al mismo valor. *Male* and *MALE* no representan valores diferentes! 

Es posible hacer un *replace* de los valores mal ingresados para normalizar la variable.
(Ademas de reemplazar Male (Child) -> Boy and Female (Child) -> Girl por conveniencia)

In [ ]:
# Mapeamos para normalizar
mappings = {'MALE' : 'Male', 'FEMALE' : 'Female', 'Male(Child)' : 'Boy', 'Female(Child)' : 'Girl'}

In [ ]:
# Reemplazamos los valores utilizando el mapping arriba definido
data['SEX'] = data['SEX'].replace(mappings)
data['SEX'].value_counts()

La visualización de esta información se puede hacer de manera sencilla utilizando la función gráfica que incluye Pandas.

In [ ]:
# Value count de Sex de forma gráfica
data['SEX'].value_counts().plot.bar()

### Cual es la distribución de la variable AGE?

Media, mediana y moda:

In [ ]:
# print the mean, median and mode of the age distribution
print("Mean: {}".format(data['AGE'].mean()))
print("Median: {}".format(data['AGE'].median()))
print("Mode: {}".format(data['AGE'].mode()))

Top 10 de las edades mas repetidas.

In [ ]:
# top 10 age
data['AGE'].value_counts().head(10)

In [ ]:
# boxplot para AGE
data['AGE'].plot.box()

En el grafico de arriba, la caja representa el **[Rango Intercuatilico (IQR, en inglés)](https://es.wikipedia.org/wiki/Rango_intercuart%C3%ADlico)** de los datos. 


El IQR representa la región donde cae el 50% de los datos. Por ejemplo del 25% al 75% del dataframe.
Todo dato que cae fuera de 1.5 veces el IQR es considerado, en general, una anomalía (OJO, NO SIEMPRE, DEPENDE DEL CONOCIMIENTO DE LOS DATOS POR PARTE DEL ANALISTA)

Los círculos se considerarían _outliers_

La librería _Seaborn_ ofrece visualizaciones mejores, de forma sencilla.

In [ ]:
# sns.boxplot(data['AGE']) # Devuelve un warning, que se solucina definiendo x e y.
sns.boxplot(x=data['AGE']); # El ; evita la impresión de texto previo al gráfico.

### Preguntando y respondiendo con los datos

Una vez que hayamos realizado una pequeña exploración en los datos, ahora avancemos a realizarnos algunas preguntas para entender mejor el dataframe.

**Qué debería hacer si sólo quiero analizar los registros que pertenecen al distrito de Krishna?**

Deberí selecciononar un subconjunto de datos pertenencientes a Krishna. Pandas lo hace en dos sencillos pasos:

    1. Condición que se debe satisfacer: data['DISTRICT_NAME']=='Krishna'
    2. Insertamos la condición en el dataframe: [data['DISTRICT_NAME']=='Krishna']

In [ ]:
# subset de datos que pertenecen al distrito de Krishna
data[data['DISTRICT_NAME']=='Krishna'].head()

**Enfermedad/intervención con mayor prevalencia, por distrito**

Se puede obtener iterando a través de todos los distritos, y seleccionando el subset de datos para cada uno de ellos.

In [ ]:
# Iteración
for i in data['DISTRICT_NAME'].unique():
    print("Distrito: {}\nEnfermedad/intervención y Count: {}".format(i,data[data['DISTRICT_NAME']==i]['SURGERY'].value_counts().head(1)))

**Promedio de claim amount, por distrito**

In [ ]:
# Average claim amount for surgery by district
for i in data['DISTRICT_NAME'].unique():
    print("Distrito: {}\nMedia Claim Amount: ₹{}".format(i,data[data['DISTRICT_NAME']==i]['CLAIM_AMOUNT'].mean()))

El desvio estandar no parece ser demasiado alto. El distrito de Guntur es el de valor mas alto con ₹31048 mientras  Vizianagaram ocupa el último lugar con ₹25097

**Estadísticas por categoria de operación**

Vamos a utilizar el _groupby_ de Pandas para construir estadísticas, agrupando los datos por la categoría de operación. El _groupby_ trabaja de forma similar al comando de _SQL_ del mismo nombre

In [ ]:
# group by surgery para obtener estadísticas
data.groupby(['CATEGORY_NAME']).mean()
#data.groupby(['CATEGORY_NAME','HOSP_DISTRICT']).mean()

Cochlear Implant Surgery es el que tiene la operación mas costosa. (₹520000 en promedio). Las Protesis (Prostheses) cuestan ₹1200 (las mas baratas). A su vez, el grupo mas joven también para ser el que demanada la Cochlear Implant Surgery: 1.58 años, mientras que Neurology  tiene pacientes de, en promedio, ~56.

In [ ]:
#data.groupby(['HOSP_DISTRICT','CATEGORY_NAME'])['AGE'].mean().reset_index()
data.groupby(['CATEGORY_NAME']).agg({
    'AGE':'mean',
#     'DISCHARGE_DATE':'min',
    'Mortality Y / N':'count'
})

In [ ]:
data.groupby(['CATEGORY_NAME']).agg(
    **{
        'Edad Mínima': ('AGE', 'min'),
        'Edad Maxima': ('AGE', 'max'),
    })

**Operación mas común por grupo de edad**

Para encontrar la operación mas común por grupo de edad, vamos a redondear las edades al valor múltiplo de 10 mas cercano.

Hacemos una copia del dataframe para no _ensuciar_ el dataframe original.

In [ ]:
dataround = data.copy()

Utilizamos la función _round_ de Pandas para redonder el valor de la edad. *-1* indica que redondeamos hasta1 dígito a la izquierda del valor decimal.

In [ ]:
# round a la edad en 0 o 1
dataround['AGE'] = dataround['AGE'].round(-1)

Visualizamos los grupos de edad utilizando la función _Seaborn countplot_

In [ ]:
# frequency plot
sns.countplot(x=dataround['AGE'])

**Operaciones mas comunes por grupo de edad**

In [ ]:
res = dataround.groupby(['AGE', 'CATEGORY_NAME'], as_index=False)['SEX'].count()\
        .sort_values('SEX', ascending=False)\
        .drop_duplicates('AGE')\
        .sort_values('AGE')
        
res

#### Unir dataframes

Vamos a descargar la tabla de distritos del estado de Andhra Pradesh (https://en.wikipedia.org/wiki/List_of_districts_of_Andhra_Pradesh) con algunas variables adicionales, para pegarle datos del dataframe original a nivel distrito.

In [ ]:
wiki_url = 'https://en.wikipedia.org/wiki/List_of_districts_of_Andhra_Pradesh'
df_wiki = pd.read_html(wiki_url, header=0)[1]
df_wiki

Vamos a agregar ua columna en la tabla extraída de wikipedia con la cantidad de personas de cada Distrito, que aparece en la base del programa de salud.

Para poder hacerlo, vamos a crear un nuevo dataframe que es el resultado de agrupar en la base del programa la cantidad de registros por distrito.

In [ ]:
df_new = data.groupby(['HOSP_DISTRICT'])['AGE'].count().reset_index()
df_new

Vamos a cambiar el nombre de la columna AGE:

In [ ]:
df_new.rename(columns = {'AGE': 'Cantidad de Personas en el program'}, 
                inplace = True)

In [ ]:
df_merged = pd.merge(df_wiki,
                    df_new,
                    left_on = 'Official name',
                    right_on = 'HOSP_DISTRICT',
                    how = 'left')

In [ ]:
df_merged.reset_index()

Borramos la columna HOSP_DISTRICT

In [ ]:
df_merged = df_merged[['Code[10]', 'Official name', 'Headquarters', 'Revenuedivisions',
       'Mandals', 'Population', 'Area(in sq.km)', 'Density(per sq.km)', 'Cantidad de Personas en el program']]

In [ ]:
df_merged


Reemplazar varios valores en una columna

Sumar columnas y generar nuevas

### Anomalías
Fuente: https://towardsdatascience.com/5-ways-to-detect-outliers-that-every-data-scientist-should-know-python-code-70a54335a623

In [ ]:
# Leemos el dataset
# data = pd.read_csv('data/ntrarogyaseva_cut.csv')

In [ ]:
plt.figure(figsize=(20, 6))
sns.lineplot(data=data, x="AGE", y="CLAIM_AMOUNT", ci=95, hue="Mortality Y / N")
# sns.scatterplot(x='AGE', 
#              y='CLAIM_AMOUNT', 
#              data=data, 
#              color='g')

In [ ]:
data

In [ ]:
# Reducimos el DF para trabajar con mayor velocidad
# d1 = pd.to_datetime('2016-06-01')
# data_graph = data.loc[data['PREAUTH_DATE']<d1]

data_graph = data.loc[data['SURGERY_DATE']>'28/12/2016 00:00:00']

#data_graph = data_graph.copy()
data_graph.shape

In [ ]:
plt.figure(figsize=(20, 6))
ax = sns.lineplot(data=data_graph, x="SURGERY_DATE", y="CLAIM_AMOUNT")
plt.xticks(rotation=45); # el ; oculta el texto previo al gráfico. El mismo resultado se logra con plt.show()

In [ ]:
data_graph.sort_values(by='SURGERY_DATE', ascending=False)
data_graph['CLAIM_AMOUNT_min'] = data_graph['CLAIM_AMOUNT'].rolling(5).mean() - 3*data_graph['CLAIM_AMOUNT'].rolling(5).std()
data_graph['CLAIM_AMOUNT_max'] = data_graph['CLAIM_AMOUNT'].rolling(5).mean() + 3*data_graph['CLAIM_AMOUNT'].rolling(5).std()
data_graph['CLAIM_AMOUNT_RM'] = data_graph['CLAIM_AMOUNT'].rolling(5).mean()

#data_graph['CLAIM_AMOUNT_min'] = data_graph['CLAIM_AMOUNT'] - 3*data_graph['CLAIM_AMOUNT']
#data_graph['CLAIM_AMOUNT_max'] = data_graph['CLAIM_AMOUNT'] + 3*data_graph['CLAIM_AMOUNT']
# data_graph['CLAIM_AMOUNT_RM'] = data_graph['CLAIM_AMOUNT'].rolling(5).mean()

In [ ]:
fig, ax = plt.subplots(figsize=(20, 6))

sns.lineplot(x='SURGERY_DATE',
             y='CLAIM_AMOUNT_max',
             data=data_graph,
             ci=False)

sns.lineplot(x='SURGERY_DATE',
             y='CLAIM_AMOUNT_min',
             data=data_graph,
             color='y',
             ci=False)

sns.lineplot(x='SURGERY_DATE', 
             y='CLAIM_AMOUNT', 
             data=data_graph, 
             color='g')

sns.scatterplot(x='SURGERY_DATE', 
             y='CLAIM_AMOUNT', 
             data=data_graph, 
             color='g')

# ax.axes.set_title("Date and Claim Amount",fontsize=20)
# ax.set_xlabel("Date",fontsize=15)
# ax.set_ylabel("Claim Amount",fontsize=15)
# ax.tick_params(labelsize=5)
# plt.xticks(rotation=45)

plt.show()

In [ ]:
# Agrupamos los datos por fecha, con el promedio del CLAIM_AMOUNT
graph = data_graph.groupby(['SURGERY_DATE']).agg({'CLAIM_AMOUNT': 'mean'}).reset_index()

# Calculamos el la media movil para el CLAIM_AMOUNT y -+ 3 desvíos
graph.sort_values(by='SURGERY_DATE', ascending=False)
graph['CLAIM_AMOUNT_min'] = graph['CLAIM_AMOUNT'].rolling(5).mean() - 3*graph['CLAIM_AMOUNT'].rolling(5).std()
graph['CLAIM_AMOUNT_max'] = graph['CLAIM_AMOUNT'].rolling(5).mean() + 3*graph['CLAIM_AMOUNT'].rolling(5).std()
graph['CLAIM_AMOUNT_RM'] = graph['CLAIM_AMOUNT'].rolling(5).mean()

fig, ax = plt.subplots(figsize=(20, 6))

sns.lineplot(x='SURGERY_DATE',
             y='CLAIM_AMOUNT_max',
             data=graph,
             ci=False)

sns.lineplot(x='SURGERY_DATE',
             y='CLAIM_AMOUNT_min',
             data=graph,
             color='y',
             ci=False)

sns.lineplot(x='SURGERY_DATE', 
             y='CLAIM_AMOUNT_RM', 
             data=graph, 
             color='g')

sns.scatterplot(x='SURGERY_DATE', 
             y='CLAIM_AMOUNT', 
             data=data_graph, 
             color='g');

#### Eliminar outliers

- Computamos el Z-score para la columna seleccionada, relativo a la media y al STD de esa columna
- Tomamos el valor absoluto del Z-score.

Si queremos calcular para todas las variables
- df[(np.abs(stats.zscore(df)) < 3).all(axis=1)]
  
_all(axis=1)_  garantiza qeu para cada fila, todas las columnas satisfacen la restricciónensures that for each row, all column satisfy the constraint.

In [ ]:
from scipy import stats
import numpy as np
# graph_graph = data_graph.groupby(['SURGERY_DATE']).agg({'CLAIM_AMOUNT': 'mean'}).reset_index()

data_graph = data_graph[(np.abs(stats.zscore(data_graph['CLAIM_AMOUNT'])) < 3)]

In [ ]:
fig, ax = plt.subplots(figsize=(20, 6))

sns.boxplot(x=data_graph['DISTRICT_NAME'], y=data_graph['CLAIM_AMOUNT']);

In [ ]:
# Graficamos las series sin los valores que exceden el z-score
fig, ax = plt.subplots(figsize=(20, 6))

sns.lineplot(x='SURGERY_DATE',
             y='CLAIM_AMOUNT_max',
             data=data_graph,
             ci=False)

sns.lineplot(x='SURGERY_DATE',
             y='CLAIM_AMOUNT_min',
             data=data_graph,
             color='y',
             ci=False)

sns.lineplot(x='SURGERY_DATE', 
             y='CLAIM_AMOUNT_RM', 
             data=data_graph, 
             color='g',
             ci=False)

sns.scatterplot(x='SURGERY_DATE', 
             y='CLAIM_AMOUNT', 
             data=data_graph, 
             color='g');

### Exportar Notebook 
Primero, obtenemos el nombre del archivo

In [ ]:
%%javascript
IPython.notebook.kernel.execute('nb_name = "' + IPython.notebook.notebook_name + '"')

Exportamos todo el notebook. Código y resultados

In [ ]:
!jupyter nbconvert --TagRemovePreprocessor.enabled=True --to html $nb_name

Exportamos solo los resultados

In [ ]:
!jupyter nbconvert --TagRemovePreprocessor.enabled=True --no-input --to html $nb_name

Exportamos solo resultados, y sólo celdas que no tengan _tag=no_

In [ ]:
!jupyter nbconvert --TagRemovePreprocessor.enabled=True --TagRemovePreprocessor.remove_cell_tags='{"no"}' --no-input --to html $nb_name

### MAPA

In [ ]:
import geopandas

In [ ]:
df = geopandas.read_file('Census_2011/2011_Dist.shp')

In [ ]:
type(df)

In [ ]:
df['geometry'].plot()

In [ ]:
df = pd.merge(df,
              df_merged,
              left_on = 'DISTRICT',
              right_on ='Official name',
              how = 'left'
             )

In [ ]:
df = df.loc[df['Population']>0]

In [ ]:
fig, ax = plt.subplots(1, figsize=(10,6))
df.plot(column='Population', cmap='Blues', linewidth=1, ax=ax, edgecolor='0.9', legend = True)
ax.axis('off')